:root {
  --primary-color: #ffbd00;
  --secondary-color: #ffbb00e0;
  --light-color: #fefae0;
  --border-color: #ef5350;
  --secondry-border: #7f7f7f;
  --btn-hover-color: #f5adae;
  --white: #ffffff;
  --muted-color: #7f7f7f;
  --bs-link-color: #ffbd00;
}
.spouse {
  display: flex;
}
.user-details {
  position: relative;
  .fa-heart {
    color: var(--primary-color);
    position: absolute;
    top: 45%;
    right: -75px;
    transform: translate(100%, -50%);
    // font-size: 18px;
    animation: fa-heart 2s ease-out infinite;
  }
}

@keyframes fa-heart {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.is-parent {
  .user-details-before {
    position: relative;
  }
  .user-details-before::before {
    content: "";
    position: absolute;
    transform: translate(-50%, -100%);
    left: 50%;
    height: 31.5px;
    border: 1px solid #ffbd00;
    width: 0;
    top: 0;
  }
  .first-index-before {
    position: relative;
  }
  .first-index-before::before {
    content: "";
    position: absolute;
    transform: translate(-50%, -100%);
    left: 50%;
    height: 82px;
    border: 1px solid #ffbd00;
    width: 0;
    top: 0;
    // z-index: -1;
  }
}
.org-chart-entity-name {
  white-space: nowrap;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90px;
}

.is-spouse {
  position: relative;
  margin-left: 5rem;
  .spouse-section {
    position: relative;
    .spouse-detail {
      z-index: 1;
    }
  }
  .spouse-section.border-after {
    position: relative;
  }
  .spouse-section.border-after::before {
    content: "";
    position: absolute;
    border: 1px solid #ffbd00;
    height: 0;
    // width: 50%;
    width: 105px;
    transform: translate(-100%, -50%);
    top: 50%;
    left: 0;
  }
  .spouse-section.border-before::before {
    content: "";
    position: absolute;
    border: 1px solid #ffbd00;
    height: 0;
    // width: 50%;
    width: 130px;
    transform: translate(-100%, -50%);
    top: 50%;
    left: 25px;
  }
  .spouse-section.border-after::after {
    content: "";
    position: absolute;
    border: 1px solid #ffbd00;
    height: 0;
    width: -webkit-fill-available;
    transform: translate(-0%, -50%);
    top: 50%;
    right: 0;
  }
}
.is-child {
  display: flex;
  width: 100%;
}
.childs-top-space {
  margin-top: 1.5rem;
}
.btn_hide {
  pointer-events: none;
}
#user-data {
  padding: 0.25em 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ffbd00;
  border-radius: 10px;
  background: #fefae0;
  margin: 0 1.5em;
  margin-top: 1.9rem;
  max-width: 200px;
  min-width: 200px;
  min-height: 85px;
  max-height: 85px;
  cursor: pointer;
  position: relative;
  .layout-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .img_top {
      width: 50%;
      position: relative;
      img {
        width: 62px;
        height: 71px;
      }
      .black-rebin img {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 0;
        z-index: 1;
        bottom: 0;
        transform: translate(-40%, -50%);
      }
    }
    .text_bottom {
      width: 50%;
    }
  }
}
.fa-edit {
  color: var(--primary-color);
  cursor: pointer;
}
.fa-sitemap {
  color: #3ab34c;
  cursor: pointer;
}
.mid-child-top-border {
  .border-content {
    border: 1px #ffbd00 solid;
    padding: 0;
    margin: 0;
  }
}
.first-child-top-border {
  position: relative;
  > .border-content {
    position: absolute;
    top: 0;
    left: 125px;
    width: calc(100% - 125px);
    border: 1px #ffbd00 solid;
    padding: 0;
    margin: 0;
  }
}
.last-child-top-border {
  position: relative;
  > .border-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 125px;
    border: 1px #ffbd00 solid;
    padding: 0;
    margin: 0;
  }
}
