<div *ngIf="family_members" [ngClass]="family_members?.spouses ? 'spouse' : ''">
  <div class="is-parent">
    <span
      class="user-details"
      id="user-data"
      [ngClass]="
        family_members.order == 0
          ? ''
          : isFirst
          ? 'first-index-before'
          : 'user-details-before'
      "
    >
       <i
        *ngIf="family_members?.spouses && family_members.spouses[0]"
        class="fa fa-heart"
      ></i>
      <div
        class="d-flex align-items-center justify-content-between layout-inner"
      >
        <div class="img_top">
          <img
            src="assets/hexagonal.svg"
            *ngIf="family_members?.user_detail?.profile_pic == null"
            class="img-fluid"
            alt=""
          />
          <span
            class="black-rebin"
            *ngIf="family_members?.user_detail?.living_status == 2"
          >
            <img src="assets/black_rebin.svg" alt="" />
          </span>
          <app-image-directive
            *ngIf="family_members?.user_detail?.profile_pic != null"
            [src]="family_members?.user_detail?.profile_pic"
          ></app-image-directive>
        </div>
        <div class="text_bottom">
          <h6
            class="text-muted org-chart-entity-name"
            title="{{ family_members?.user_detail?.first_name }} {{
              family_members?.user_detail?.last_name
            }}"
          >
            <!-- {{ family_members?.user_detail?.gender == 1 ? "M" : "F" }} -->
            {{ family_members?.user_detail?.first_name }}
            {{ family_members?.user_detail?.last_name }}
          </h6>
          <div
            class="d-flex justify-content-end align-items-center"
            [style.pointer-events]="showGraph ? 'none' : 'auto'"
          >
            <i
              *ngIf="family_members.user_detail.friendRequest"
              class="fa fa-sitemap"
              [ngClass]="{ btn_hide: hideAddFamilyBtn == 'yes' }"
              
              aria-hidden="true"
            ></i>
            &nbsp;
            <i
              class="fa fa-plus"
              [ngClass]="{ btn_hide: hideAddFamilyBtn == 'yes' }"
              (click)="addUpdateFamilyModalOpen(1, family_members.user_detail)"
              aria-hidden="true"
            ></i>
            &nbsp;
            <i
              class="fa fa-pencil"
              [ngClass]="{ btn_hide: hideAddFamilyBtn == 'yes' }"
              (click)="editFamilyModalOpen(2, family_members.user_detail)"
              aria-hidden="true"
            ></i>
          </div>
        </div>
      </div>
    </span>
  </div>
  <div
    *ngFor="
      let spouse of family_members?.spouses;
      let last = last;
      let i = index
    "
    class="is-spouse"
    id="spouse-width"
  >
    <div class="spouse-center">
      <div
        [ngClass]="
          last ? 'spouse-section border-before' : 'spouse-section border-after'
        "
      >
        <span class="spouse-detail" id="user-data"  [ngStyle]="{
            background: spouse.spouse_detail ? 'pink' : '',
            border: spouse.spouse_detail ? 'pink' : ''
          }">
          <div
            class="d-flex align-items-center justify-content-between layout-inner"
          >
            <div class="img_top">
              <img
                src="assets/hexagonal.svg"
                *ngIf="spouse.spouse_detail.profile_pic == null"
                class="img-fluid"
                alt=""
              />
              <span
                class="black-rebin"
                *ngIf="spouse.spouse_detail.living_status == 2"
              >
                <img src="assets/black_rebin.svg" alt="" />
              </span>
              <app-image-directive
                *ngIf="spouse.spouse_detail.profile_pic != null"
                [src]="spouse.spouse_detail.profile_pic"
              ></app-image-directive>
            </div>
            <div class="text_bottom">
              <h6
                class="text-muted org-chart-entity-name"
                title="{{ spouse.spouse_detail?.first_name }} {{
                  spouse.spouse_detail?.last_name
                }}"
              >
                <!-- {{ spouse?.spouse_detail?.gender == 1 ? "M" : "F" }} -->
                {{ spouse.spouse_detail?.first_name }}
                {{ spouse.spouse_detail?.last_name }}
              </h6>
              <div
                class="d-flex justify-content-end align-items-center"
                [style.pointer-events]="showGraph ? 'none' : 'auto'"
              >
                <i
                  *ngIf="spouse.spouse_detail.friendRequest"
                  class="fa fa-sitemap"
                  [ngClass]="{ btn_hide: hideAddFamilyBtn == 'yes' }"
                
                  aria-hidden="true"
                ></i>
                &nbsp;
                <i
                  class="fa fa-plus"
                  [ngClass]="{ btn_hide: hideAddFamilyBtn == 'yes' }"
                  (click)="addUpdateFamilyModalOpen(1, spouse.spouse_detail)"
                  aria-hidden="true"
                ></i>
                &nbsp;
                <i
                  class="fa fa-pencil"
                  [ngClass]="{ btn_hide: hideAddFamilyBtn == 'yes' }"
                  (click)="editFamilyModalOpen(2, spouse.spouse_detail)"
                  aria-hidden="true"
                ></i>
              </div>
            </div>
          </div>
        </span>
      </div>
    </div>
    <div
      [ngClass]="
        spouse.children && spouse.children.length ? 'childs-top-space' : ''
      "
    ></div>
    <div class="is-child">
      <div
        *ngFor="
          let child of spouse.children;
          let first = first;
          let last = last
        "
        [ngClass]="{
          'last-child-top-border':
            spouse.children && spouse.children.length > 1 && last,
          'first-child-top-border':
            spouse.children && spouse.children.length > 1 && first,
          'mid-child-top-border':
            spouse.children && spouse.children.length > 1 && !first && !last
        }"
      >
        <div class="border-content"></div>
        <app-family-org-chart
          [family_members]="child"
          [isFirst]="first"
        ></app-family-org-chart>
      </div>
    </div>
  </div>
</div>
